
  @media(max-width: 576px){

    .fondo {
      background-image: url('../../public/assets/fondo.jpg'); 
       background-size: 400px 900px; 
    background-repeat: no-repeat; 
    background-attachment: fixed;  
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100cm;
    }
  }
    
    @media (min-width: 992px) {
    
      .fondo {
        background-image: url('../../public/assets/fondo.jpg'); 
        background-size: cover; /* Ajusta el tamaño de la imagen para que cubra toda la pantalla */
  background-attachment: fixed; /* Asegura que la imagen de fondo permanezca en su posición mientras se desplaza el contenido */
  z-index: -1; /* Asegura que la imagen de fondo esté por detrás de otros componentes */
  position: fixed; /* Asegura que la posición de la imagen de fondo sea fija */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
      }
    }
 body {
    overflow-x: hidden;
    
  }

