
/*Knowme css:*/

.txtKnowmeColor{
 color: #4169E1;
}


/*Tecnologias css:*/
.titlet{

 color: #4169E1;   
}

.transition-image-container {
  width: 100px; /* Ancho de la imagen */
  height: 100px; /* Alto de la imagen */
 
}


/*Proyectos css:*/
.title{

 color: #4169E1;


}


.imgP{

  color: #4169e1;

}



/* navbar parallax:*/
.text-blue {
 color: #4169E1;
}

.nav-link.active {
 color: #4169E1;
}

.nav-link{
  color: #ffffff;
}

@media (max-width: 600px){

.nav-link {
  font-size: 8px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
}
.txtMin{
  font-size: 12px;
}
}


