
/*Knowme css:*/

.txtKnowmeColor{
 color: #4169E1;
}


/*Tecnologias css:*/
.titlet{

 color: #4169E1;   
}




/*Proyectos css:*/
.title{

 color: #4169E1;


}

.title2{

 color: #4169E1;

}

.imgP{

  color: #4169e1;

}



/* navbar parallax:*/
.text-blue {
 color: #4169E1;
}

.nav-link.active {
 color: #ffffff;
}


.carousel-control-prev,
.carousel-control-next {
  fill: #4169E1; /* Cambia el color de la flecha a azul (#4169E1) */
}

@media (max-width: 407px){
  .c-v{
  margin-top: 45%;
}

.nav-link {
  font-size: 8px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
}
.txtMin{
  font-size: 12px;
}
}


