@media (max-width: 399px) {
  .container-img-1 {
    font-size: 15px;
    margin-left: 1%;
    bottom: 0;
    position: fixed;
    z-index: 1;
    transform: scale(0.5);
    }
  .container-img-2 {
    font-size: 15px;
      margin-left: -13%;
      bottom: 0;
    position: fixed;
      z-index: 1;
      transform: scale(0.5);
    }
  .container-img-3 {
    font-size: 15px;
    margin-left: 15%;
    bottom: 0;
    position: fixed;
    z-index: 1;
    transform: scale(0.5);
    }
}
  
  @media (min-width: 400px) and (max-width: 767px){
    .container-img-1 {
      font-size: 15px;
      margin-left: 6.5%;
      bottom: 0; 
      position: fixed;
      z-index: 1;
      transform: scale(0.7);
      }
    .container-img-2 {
      font-size: 15px;
        margin-left: -10%;
        bottom: 0; 
        position: fixed;
        z-index: 1;
        transform: scale(0.7);
      }
    .container-img-3 {
      font-size: 15px;
      margin-left: 23%;
      bottom: 0; 
      position: fixed;
      z-index: 1;
      transform: scale(0.7);
      }
        }
  
  @media (min-width: 768px) and (max-width: 1279px) {
    .container-img-1 {
      font-size: 15px;
      margin-left: 0%;
      bottom: 0; 
      position: fixed;
      z-index: 1;
      transform: scale(0.9);
      }
    .container-img-2 {
      font-size: 15px;
        margin-left: 15%;
        bottom: 0; 
        position: fixed;
        z-index: 1;
        transform: scale(0.9);
      }
    .container-img-3 {
      font-size: 15px;
      margin-left: 30%;
      bottom: 0; 
      position: fixed;
      z-index: 1;
      transform: scale(0.9);
      } 
  }
  
  @media (min-width: 1280px) {
    .container-img-1{
      margin-top: 17.2%;
      margin-left: -1%;
      position: absolute;
      transition: transform 0.3s ease;
      z-index: 1;
    }
    
    .container-img-1:hover {
      transform: scale(1.1);
    }

 

    .container-img-2{
      margin-top: 25.2%;
      margin-left: -1%;
      position: absolute;
      transition: transform 0.3s ease;
      z-index: 1;
    }
    
    .container-img-2:hover {
      transform: scale(1.1); 
    }

  

    .container-img-3 {
      margin-top: 33.2%;
      margin-left: -1%;
      position: absolute;
      transition: transform 0.3s ease;
      z-index: 1;
    }
    
    .container-img-3:hover {
      transform: scale(1.1); 
    }

  
  
  }

 