  @media (max-width: 576px) {
    .container-img-1 {
      font-size: 15px;
      margin-left: 6.5%;
      top: 93%;
      position: absolute;
      z-index: 1;
      transform: scale(0.9);
      }
    .container-img-2 {
      font-size: 15px;
        margin-left: -10%;
        top: 93%; 
        position: absolute;
        z-index: 1;
        transform: scale(0.9);
      }
    .container-img-3 {
      font-size: 15px;
      margin-left: 23%;
      top: 93%; 
      position: absolute;
      z-index: 1;
      transform: scale(0.9);
      }
        }
  
  @media (min-width: 577px) and (max-width: 991px) {
    .container-img {
        font-size: 30px;
       
        position: absolute;
       
      }
   
      
  }
  
  @media (min-width: 992px) {
    .container-img-1{
      margin-top: 17.2%;
      position: absolute;
      transition: transform 0.3s ease;
      z-index: 1;
    }
    
    .container-img-1:hover {
      transform: scale(1.1);
    }

 

    .container-img-2{
      margin-top: 25.2%;
      position: absolute;
      transition: transform 0.3s ease;
      z-index: 1;
    }
    
    .container-img-2:hover {
      transform: scale(1.1); 
    }

  

    .container-img-3 {
      margin-top: 33.2%;
      position: absolute;
      transition: transform 0.3s ease;
      z-index: 1;
    }
    
    .container-img-3:hover {
      transform: scale(1.1); 
    }

  
  
  }

 