.nav-link {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
}

.selected-tab {
  color: #4169E1; 
  position: relative;
  background: #252525;
}

.selected-tab::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Ajusta la posición del círculo según tus necesidades */
  left: 50%; /* Ajusta la posición del círculo según tus necesidades */
  transform: translateX(-50%);
  width: 100%; /* Ajusta el ancho del círculo según tus necesidades */
  height: 10px; /* Ajusta el alto del círculo según tus necesidades */
  background: #4169E1;
  border-radius: 50%; /* Hace que el elemento tenga forma de círculo */
}
