.nav-link:hover {
    background-color: #b3b3b3;
}

.selected-tab {
  color: #ffffff; 
  border-bottom: 2px solid #ffffff; 
  position: relative;
  background: #ffffff;
}

.selected-tab::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffffff; 
}
