@media (max-width: 576px) {
    .container-1 {
        font-size: 15px;
        margin-right: -10%;
        top: 93%;
        position: absolute;
        z-index: 1;
        transform: scale(0.9);
      }
      .container-2 {
        font-size: 15px;
        margin-right: 7%;
        top: 93%; 
        position: absolute;
        z-index: 1;
        transform: scale(0.9);
      }
      .container-3 {
        font-size: 15px;
        margin-right: 24%;
        top: 93%; 
        position: absolute;
        z-index: 1;
        transform: scale(0.9);
      }
      .Stripe-1 {
        display: none;
      }
      .Stripe-2 {
        display: none;
      }
      .Stripe-3 {
        display: none;
      }
    }
  
  @media (min-width: 577px) and (max-width: 991px) {
    .container {
        font-size: 30px;
       
        position: absolute;
       
      }
      .Stripe {
        position: absolute;
        
        transform: scale(1);
        z-Index: 1,
      }
      
  }
  
  @media (min-width: 992px) {
    .container-1{
      margin-top: 17.2%;
      position: absolute;
      transition: transform 0.3s ease;
      z-index: 1;
    }
    
    .container-1:hover {
      transform: scale(1.1); 
    }

    .Stripe-1 {
      position: absolute;
      margin-top: 15%;
      transform: scale(0.5) scaleX(-1);;
      z-Index: 1,
    }

    .container-2{
      margin-top: 25.2%;
      position: absolute;
      transition: transform 0.3s ease; 
      z-index: 1;
    }
    
    .container-2:hover {
      transform: scale(1.1); 
    }

    .Stripe-2 {
      position: absolute;
      margin-top: 23%;
      transform: scale(0.5) scaleX(-1);;
     
    }

    .container-3 {
      margin-top: 33.2%;
      position: absolute;
      transition: transform 0.3s ease; 
      z-index: 1;
    }
    
    .container-3:hover {
      transform: scale(1.1); 
    }

    .Stripe-3 {
      position: absolute;
      margin-top: 31%;
      transform: scale(0.5) scaleX(-1);;
      z-Index: 1,
    }

     
  }

 