.text-color {
    color: #000000;
  }
  
  @media (max-width: 576px) {
    .text-container-hola {
        font-size: 15px;
       
        position: absolute;
       
      }
  
      .text-container-quienSoy {
          font-size: 15px;
          top: 10%;
          position: absolute;
         
        }
  
        .text-container-miTitulo {
          font-size: 15px;
          top: 15%;
          position: absolute;
         
        }
  
        .text-container-conoceme {
          font-size: 15px;
          top: 20%;
          position: absolute;
         
        }
  
        .text-container-hasClick {
          font-size: 15px;
          top: 25%;
          position: absolute;
         
        }
  }
  
  @media (min-width: 577px) and (max-width: 991px) {
    .text-container-hola {
        font-size: 30px;
       
        position: absolute;
       
      }
  
      .text-container-quienSoy {
          font-size: 30px;
          top: 10%;
          position: absolute;
         
        }
  
        .text-container-miTitulo {
          font-size: 30px;
          top: 15%;
          position: absolute;
         
        }
  
        .text-container-conoceme {
          font-size: 30px;
          top: 20%;
          position: absolute;
         
        }
  
        .text-container-hasClick {
          font-size: 30px;
          top: 25%;
          position: absolute;
         
        }
  }
  
  @media (min-width: 992px) {
    .text-container-hola {
      font-size: 50px;
      top: 15%;
      position: absolute;
     
    }

    .text-container-quienSoy {
        font-size: 50px;
        top: 30%;
        position: absolute;
       
      }

      .text-container-miTitulo {
        font-size: 50px;
        top: 45%;
        position: absolute;
       
      }

      .text-container-conoceme {
        font-size: 50px;
        top: 60%;
        position: absolute;
       
      }

      .text-container-hasClick {
        font-size: 50px;
        top: 75%;
        position: absolute;
       
      }
  }


