@media(max-width: 576px){

body {
  background-image: url('../public/assets/fondo.jpg'); 
  background-size: auto cover; /* Ajusta la imagen de fondo al tamaño de la ventana del navegador */
  background-repeat: no-repeat; 
}
}

@media (min-width: 992px) {

  body {
    background-image: url('../public/assets/fondo.jpg'); 
    background-size: cover; 
    
  }
}

